html{
  
}
body{
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-style: normal;
  font-weight: normal;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}
h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #32425c;
}
header{

}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.upper-header{
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  height: 42px;
}
.upper-header a{
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}
.container{
  width: 940px;
  margin: 0 auto;
}
.uppers>div{
  display: inline-block;
}
.uppers a{
  display: block; 
}
.middle-header{
  height: 215px;
  margin-bottom: 120px;
  background-color: #f1f5f7;
}
.middle-header .container{
  height: 160px;
}
.store-descripton, .store-contacts, .userblock{
  display: inline-block;
}
.store-descripton{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.store-contacts a{
  font-size: 21px;
  line-height: 18px;
  font-style: normal;
  color: #e9292a;
                    /*V/A optical как перевести в css?*/
}
nav.navigation{
  height: 55px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  padding: 12px 52px;
}
.navigation li{
  display: inline-block;

}
.navigation a{
  display: block;
  color: #e0e2e5;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
}
.categories{          /*заканчивается раздел на 788*/
  height: 410px;
}
.categories .tile{
  width: 300px;
  height: 123px;
  float: left;
}
.categories .slider{
  width: 620px;
  height: 265px;
  float: left;
}
.categories h3{
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.categories .slider{
  background-image: url(img/slider-background.jpg);
}
.goods{                   /* начнем с 850 и закончим 1280, товар заканчивается на 1268*/
  margin-top: 62px;
  height: 430px;
  padding-bottom: 12px;
}

.goods-header{
  height: 80px;
}
.goods-header .to-more-information{
  width: 253px;
  display: inline-block;
}
.goods-header>h2{
  display: inline-block;
}
.goods-header .h2{
  width: 270px; 
  padding:25px 20px;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
 
}
/*.goods-header .to-more-information{
  width: 252px;
  height: 38px;
                   /*лучший ли это вариант?*/
}
.goods-list{

}
.goods-item{
  width: 220px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  float: left;
}


.manufacturers-header h2{
  width: 450px;
  float: left;
 }
 .manufacturers-header>div{
  float: right;
 }
.manufacturers-header a{
  display: block;
  width: 300px;
}
.manufacturer{
  display: inline-block;
  width: 220px;
  height: 143px;
  vertical-align: top;
}
.services{
  margin-bottom: 180px;
}
.services h2{
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.service-information-menu ul{
  width: 240px;
  float: left;
}
.service-information-menu li{
  list-style: none;
  text-decoration: none;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  padding: 25px 25px;

}
.service-information-menu a{
  display: block;
}

.about-company{
  width: 540px;
  height: 370px;
  float: left;
}
.delivery-contacts{
  width: 300px;
  height: 370px;
  float: right;
}

.footer-upper{
  background-color: #32425c;
  height: 190px;
}
.footer-contacts{
  width: 370px;
  float: left;
}
.footer-upper p{
  color: #f1f5f7;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}
.footer-upper li{
  display: inline-block;
}

.footer-upper nav{
  width: 560px;
  float: right;
}
.menu-company a{
  display: block;
  color: #f1f5f7;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;

}
.menu-goods a{
  display: block;
  color: #ffd180;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;

}
.footer-bottom{
  background-color: #293449;
  height: 110px;
}
.copy,
.social,
.feedback,
.develop{
  float: left;
}
/*стили кнопок  .to-more-information*/
.to-more-information{
  background-color: #ee3643;
}
.to-more-information a{
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
}

/*стили, которые надо будет удалить*/

div, section{
  border: 1px solid red;
}